{% extends "layout.html" %}
{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="content-section">
    <form method="POST" action="" autocomplete="off">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset-Password</legend>
            <div style="text-align:center"> <h3><i class="fa fa-lock fa-4x" ></i></h3></div>
             <h2 class="text-center">Forgot Password?</h2>
             <p>You can reset your password here.</p>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                </div>
            </div>


        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
        </div>





    </form>
</div>

{% endblock content %}